.footer-section {
  background: #0a183d;
  padding: 100px 0 85px;
}

.footer-widget {
  padding-top: 2px;
}

.footer-widget h2 {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-widget ul {
  list-style: none;
}

.footer-widget ul li a {
  display: inline-block;
  color: #6a7080;
  font-size: 14px;
  margin-bottom: 10px;
}

.copyright {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  color: #505565;
  padding: 10px 0 25px;
}

.social-links a {
  display: inline-block;
  color: #6a7080;
  font-size: 18px;
  margin-right: 35px;
}
